.container {
    width: 25rem;
    height: 30rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 1rem 0;
}
.main {
    height: 100vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../../images/home-bg.jpg');
    object-fit: cover;
    background-position: center center; */
}
.formStyle{
    background-color: #4B506D;   
    opacity: 0.9;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4b506dbb,
                -5px -5px 10px #4b506dbb;
}
.logo img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.dashboardText {
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    color: #ffffff;
    opacity: 0.7;
    padding: 1rem 0;
    font-weight: 400;
}

.description {
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    padding: 0.5rem 0;
    color: var(--input-color);
}
.username {
    text-align: left;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    color: var(--input-color);
}
.password {
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
input::placeholder {
    letter-spacing: 0.03rem;
    color: #4B506D;
    opacity: 0.4;
}
span {
    font-size: 0.8rem;
    color: var(--input-color);
    letter-spacing: 0.03rem;
}
.register {
    margin: 1rem 0;
}
.link {
    padding: 0 1rem;
    text-decoration: none;
    letter-spacing: 0.03rem;
    color: var(--main-color);
    font-size: 1.2rem;
}
.login input, .login button {
    width: 100%;
}